extends layout

block content
	nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
		.container
			.navbar-header
				strong.navbar-brand NEWS ARCHIVE

	div.main-content.container
		h1 #{title}
			p Welcome to #{title}
